div::-webkit-scrollbar {
  width: .5em;
}

div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(99, 184, 253, 0.3);
  border-radius: 20px;
}

div::-webkit-scrollbar-thumb {
  background-color: rgba(21, 212, 212, 0.5);
  border-radius: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.AppContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.LeftView {
  box-sizing: border-box;
  width: 30%;
  /* border: 2px solid cadetblue; */
  /* margin: 5px; */
  margin: 10px;
  padding: 5px;
  box-shadow: 0 7px 30px -10px rgba(53, 163, 218, 0.5);
  border-radius: 10px;
}

.RightView {
  width: 70%;
  /* border: 2px solid cadetblue; */
}

.TopRightView {
  display: flex;
  height: 60%;
}

.BottomRightView {
  width: 100%;
  height: 40%;
}

.Orders {
  box-sizing: border-box;
  /* height: 40%; */
  /* border: 2px solid cadetblue; */
  /* margin: 5px; */
  margin: 10px;
  padding: 5px;
  box-shadow: 0 7px 30px -10px rgba(53, 163, 218, 0.5);
  border-radius: 10px;
  height: 95%;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.Positions {
  width: 67%;
  box-sizing: border-box;
  /* height: 60%; */
  /* border: 2px solid cadetblue; */
  /* margin: 5px;
  margin-bottom: 0px; */
  margin: 10px;
  padding: 5px;
  box-shadow: 0 7px 30px -10px rgba(53, 163, 218, 0.5);
  border-radius: 10px;
}

.PandL {
  width: 33%;
  box-sizing: border-box;
  /* height: 40%; */
  /* border: 2px solid cadetblue; */
  /* margin: 5px; */
  margin: 10px;
  padding: 5px;
  box-shadow: 0 7px 30px -10px rgba(53, 163, 218, 0.5);
  border-radius: 10px;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}